// Grey Shades

$grey-01: #E1DEDD;
$grey-02: #A69C99;
$grey-03: #665C59;
$grey-04: #221F1E;

// Primary Shades

// $primary-01: #d4eeff;
// $primary-02: #80ccff;
// $primary-03: #2aaaff;
// $primary-04: #0080d4;
// $primary-05: #0071BC;
// $primary-06: #004d80;
// $primary-07: #001a2a;

$primary-01: #f6e3e3;
$primary-02: #e5acac;
$primary-03: #d47474;
$primary-04: #c33c3c;
$primary-05: #8b2b2b;
$primary-06: #531a1a;
$primary-07: #1c0909;

// Secondary Shades

$secondary-01: #E6F1F3;
$secondary-02: #B5D6DB;
$secondary-03: #84BBC4;
$secondary-04: #539FAC;
$secondary-05: #3B727B;
$secondary-06: #24444A;
$secondary-07: #0C1719;

// Tertiary Shades

$tertiary-01: #F7F4E3;
$tertiary-02: #E7DDAA;
$tertiary-03: #D7C771;
$tertiary-04: #C7B038;
$tertiary-05: #8E7E28;
$tertiary-06: #554B18;
$tertiary-07: #1C1908;