// Import Fonts
@import './fonts.scss';

// Import Variables
@import './variables/colors.scss';

// Import Components
@import './components/button.scss';
@import './components/informations.scss';
@import './components/map.scss';
@import './components/search.scss';
@import './components/schedule.scss';
@import './components/article.scss';
@import './components/carousel.scss';
@import './components/directory.scss';

html,
body {
  padding: 0;
  margin: 0;
  background-color: $primary-05;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo-full {
  display: block;
  width: fit-content;
  margin: auto;
}

.main-container {
  overflow-x: hidden;
  background-image: url('/macon-background.jpg');
  background-repeat: repeat;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  min-height: 78vh;
  display: flex;
  max-width: 100vw;
}

.article-content {
  font-family: 'Montserrat';
  color: darken($grey-03, 20%);
  padding: 20px;
  & img {
    max-width: 100%;
    height: auto;
  }
}

.loader-animation {
  img {
    display: block;
    margin: auto;
    animation-name: loader-spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  margin-top: 20px;
  margin-bottom: 10px;
}

@keyframes loader-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.section-container {
  &.error-container {
    display: flex;
    & > div {
      margin: auto;
    }
  }
  position: relative;
  max-width: 1440px;
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: transparentize($primary-01, 0.8);
  border-left: 1px solid transparentize(white, 0.7);
  border-right: 1px solid transparentize(white, 0.7);
  margin: auto;
  padding-bottom: 35px;
  .section-message {
    color: $grey-01;
    font-size: 25px;
    text-align: center;
    padding-bottom: 30px;
    transition: 1s all linear;
  }
  & h1 {
    color: $grey-01;
    font-family: 'Nova Cut';
    text-shadow: 1px 0 10px $grey-02;
    font-size: 45px;
    margin: 0;
    padding: 15px;
    text-align: center;
  }
  & h2 {
    color: white;
    font-family: 'Nova Cut';
    text-shadow: 0px 0 15px white;
    font-size: 35px;
    margin: 0;
    padding: 15px;
    text-align: center;
  }
}

.main-container > div {
  width: 100%;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: transparentize($primary-03, 0.2);
}

footer {
  .footer-container {
    .footer-section {
      flex: 1;
      display: flex;
      margin: auto;
      padding: 2rem 0;
      flex-direction: column;
      p {
        text-align: center;
        margin-top: 4px;
        margin-bottom: 4px;
        flex: 1;
      }
    }
    display: flex;
    flex: 1;
    margin: auto;
    flex-direction: row;
    max-width: 1440px;
  }
  background-color: transparentize($primary-05, 0.1);
  align-items: center;
  color: white;
  height: 100%;
  font-family: 'Montserrat';
  font-weight: 200;
  border-top: 1px solid white;
  justify-content: center;
}

footer a {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-grow: 1;
}


.informative-header {
  background-color: #f6a600;
  border-bottom: 1px solid #a0057c;
  & .informative-container {
    padding: 5px;
    button {
      position: relative;
      all: unset;
      font-weight: medium;
      background-color: white;
      border: 1px solid #a0057c;
      color: #a0057c;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;
      transition: .1s all linear;
      cursor: pointer;
      &:hover {
        color: white;
        border: 1px solid white;
        padding-left: 10px;
        background-color: #a0057c;
      }
    }
    display: flex;
    color: white;
    font-family: 'Montserrat';
    max-width: 1440px;
    margin: auto;
    flex-direction: row;
    & > div {
      &:last-child {
        flex: 1;
        color: white;
        text-align: end;
      }
    }
  }
}

.header-overall {
  position: sticky;
  top: 0px;
  z-index: 50;
}

header {
  .logo-svg {
    width: 100%;
    margin-left: 15px;
    margin-right: 35px;
    height: 100%;
    svg {
      display: block;
      margin: auto;
      height:100%;
    }
    .cls-1{
      isolation:isolate;
    }.cls-2,.cls-5{
      transition: .9s all linear;
      fill:#fff;
    }.cls-2,.cls-3{
      stroke:#000;stroke-miterlimit:10;
    }.cls-3{
      transition: .2s all linear;
      fill:#e20909;
    }.cls-4{
      opacity:0.5;
      mix-blend-mode:screen;
    }.cls-5{
      font-size:32.36px;
      font-family:MyriadPro-Bold, Myriad Pro;
      font-weight:700;
    }.cls-6{
      letter-spacing:0.03em;
    }.cls-7{
      letter-spacing:0em;
    }.cls-8{
      letter-spacing:-0.02em;
    }.cls-9{
      letter-spacing:-0.03em;
    }
  }
  .logo-full-svg {
    height: 100%;
    width: 100%;
    svg {
      display: block;
      margin: auto;
      height: 100%;
    }
    .cls-1{isolation:isolate;}.cls-2,.cls-5{transition: .9s all linear; fill:#fff;}.cls-2,.cls-3{transition: .2s all linear; stroke:#000;stroke-miterlimit:10;}.cls-3{fill:#e20909;}.cls-4{opacity:0.5;mix-blend-mode:screen;}.cls-5{font-size:32.36px;font-family:MyriadPro-Bold, Myriad Pro;font-weight:700;}.cls-6{letter-spacing:0em;}.cls-7{letter-spacing:0em;}.cls-8{letter-spacing:-0.02em;}.cls-9{letter-spacing:-0.03em;}
  }
  position: sticky;
  top: 0px;
  z-index: 20;
  height: 90px;
  background-color: transparentize($primary-05, 0.1);
  display: flex;
  max-width: 100vw;
  align-items: center;
  border-bottom: 1px solid white;
  .menu-mobile-button {
    display: none;
    font-family: 'Nova Cut';
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    cursor: pointer;
    text-align: right;
    padding-right: 35px;
    user-select: none;
    & > div {
      flex: 1;
      transition: .31s all linear;
      margin-right: 10px;
    }
    & > span {
      flex: 1;
      transition: .31s all linear;
      font-size: 45px;
      font-family: initial;
      font-weight: bold;
      position: absolute;
      right: 10px;
    }
  }
  .header-background {
    display: flex;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: transparentize($primary-05, 0.2);
  }
  &.parish {
    background-size: cover;
    background-position: center;
    background-color: transparentize($primary-05, 0.5);
  }
  .header-container {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin: auto;
    & > div {
      flex: 1;
      align-items: center;
      &.logo-container {
        a {
          width: 100%;
          height: 100%;
        }
        flex: 0;
        margin-left: 15px;
      }
      &.nav-container {
        display: flex;
        flex-direction: row;
        & > div {
          flex: 1;
          text-align: center;
        }
        .nav-link {
          color: $grey-01;
          font-family: 'Nova Cut';
          font-size: 29pt;
          opacity: 1;
          transition: .20s all linear;
          position: relative;
          &::after {
            position:absolute;
            left:0px;
            bottom:0;
            height: 2px;
  
            width: 0%;
            transition: .21s all linear;
            background-color: $grey-01;
            content: "";
          }   
          &:hover {
            &::after {
            width: 100%;
            }
            opacity: 0.5;
          }
        }
      }
      &:last-child {
        flex-grow: 5;
      }
    }
  }
}

.nav-mobile-container {
  display: none;
}

@media (max-width: 1100px) {
  .main-container {
    margin-top:0;
  }
  header .logo-full-svg {
    .cls-4{opacity:0;}.cls-5{font-size:31.36px;}
  }
  .nav-mobile-container {
    transition: .21s all linear;
    z-index: 50;
    width: 100%;
    display: block;
    & > div {
      & > a {
        width: 100%;
        display: block;
        padding-top: 7px;
      padding-bottom: 7px;
      }
      user-select: none;
      border-bottom: 1px solid transparentize(white, 0.5);
      color: white;
      transition: .12s all linear;
      background-color: $primary-05;
      &:hover {
        backdrop-filter: blur(5px);
        background-color: transparentize($primary-06, 0.1);
      }
      text-align: center;
      font-size: 24px;
      font-family: 'Nova Cut';
    }
  }
  header {
    height: 60px;
    z-index: 20;
    .menu-mobile-button {
      display: flex;
      flex-direction: row;
      width: fit-content;
      margin: auto;
    }
    .nav-container {
      display: none !important;
    }
    .header-container > div.logo-container {
      margin-left: 0px;
    }
    .logo-container img {
      height: 60px;
      margin-left: -50px;
    }
  }
  .section-container {
    & h1 {
      font-size: 45px;
    }
    & h2 {
      font-size: 25px;
    }
  }
}


@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .section-container {
    padding: 0;
   & > h1 {
    font-size: 24px;
   }   
  }
  footer {
    .footer-container {
      .footer-section {
        &:first-child {
          padding-top: 30px;
          padding-bottom: 0px;
        }
        &:last-child {
          padding-top: 10px;
          padding-bottom: 20px;
        }
        padding-left: 20px;
        padding-right: 20px;
      }
      flex-direction: column;
    }
  }
  header {
    height: 60px;
    position: sticky;
    top: 0px;
    z-index: 20;
    .nav-container {
      display: none !important;
    }
    .logo-container img {
      height: 60px;
      margin-left: -50px;
    }
  }
}
